.fitnespage{
    margin-left: 250px !important;
}

.fitness-goals-container {
  max-width: 1100px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.fitheader{
  display: flex;
}

.fitheader button{
  margin-left: 77% !important;
  height: 40px !important;
}

.page-title {
  font-weight: 700;
  color: #222;
}

.goals-card {
  background: #fff;
  border-radius: 16px;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.08); */
  transition: 0.3s;
}

/* .goals-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
} */

.goal-title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

/* .save-btn {
  background: #4b7bec;
  color: white;
  border-radius: 12px;
  font-size: 18px;
  transition: 0.3s;
}

.save-btn:hover {
  background: #3867d6;
} */
