.Workout{
    margin-left: 250px !important;
}

.Workout-page {
  /* background: #f8f9fa; */
  min-height: 100vh;
  padding: 20px;
}

.Workout-page .addWorkout {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  background: #81baf0 ;
  padding: 10px 18px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  transition: width 0.3s ease-in-out;
}

.Workout-page .addWorkout .text {
  max-width: 0;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  transform: translateX(20px);
  transition: all 0.4s ease;
}

.Workout-page .addWorkout:hover .text {
  max-width: 200px;
  opacity: 1;
  transform: translateX(0);
}


.Workout-page .addWorkout .icon {
  transition: transform 0.4s ease;
}

.Workout-page .addWorkout:hover .icon {
  transform: translateX(-3px);
}

.weeklyprogress{
  border-radius: 14px;
    transition: all 0.25s ease-in-out;
    padding: 0.8rem !important;
    min-height: 100px !important;
    background: #fff;
}

.weeklyprogress:hover{
  transform: translateY(-4px);
}

.wicon svg{
  width: 35px !important;
  margin-left: 90% !important;
  /* margin-top: -8% !important; */
}

.insicon svg{
  width: 20px !important;
  margin-right: 5px !important;
}

/* .workout-page {
  background: #f9fbfd;
  min-height: 100vh;
}

.workout-card {
  border-radius: 15px;
  transition: transform 0.2s ease;
}

.workout-card:hover {
  transform: translateY(-5px);
}

.add-form-card {
  background: #ffffff;
  border-radius: 12px;
}

.btn-primary, .btn-success {
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 500;
}

.chart-container {
  position: relative;
  height: 300px;  
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .chart-container {
    height: 300px; 
  }
} */
