.profile-header {
  background: #fff;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  margin-left: 100px !important;
  text-align: center;
}

.profile-top .title {
  font-size: 2rem;
  font-weight: 800;
  color: #6C63FF; 
}

.profile-top .subtitle {
  color: #64748b;
  margin-top: 4px;
  font-size: 1rem;
}

/* Avatar section */
.profile-info {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.avatar-section {
  position: relative;
  display: inline-block;
}

.avatar {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #8b5cf6;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f5ff;
}

.avatar-letter {
  font-size: 48px;
  font-weight: 700;
  color: #6d28d9;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-btn {
  position: absolute;
  bottom: 0px;
  right: -5px;
  background: #6d28d9;
  color: white;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.upload-btn:hover {
  background: #5b21b6;
}

@media (max-width: 768px) {
  .avatar {
    width: 90px;
    height: 90px;
  }
  .upload-btn {
    width: 30px;
    height: 30px;
  }
}

/* Info text */
.info-text .name {
  font-size: 1.6rem;
  font-weight: 700;
  color: #1e293b;
}

.info-text .email {
  text-align: center !important;
  /* display: flex; */
  /* align-items: center; */
  color: #475569;
  font-size: 1rem;
  margin-top: 6px;
}

.info-text .email .icon {
  margin-right: 6px;
  color: #64748b;
}


/* Responsive */
@media (max-width: 768px) {
  .profile-info {
    flex-direction: column;
    text-align: center;
  }

  .avatar {
    width: 90px;
    height: 90px;
    font-size: 36px;
  }

  .info-text .name {
    font-size: 1.4rem;
  }

  .rank-badge {
    justify-content: center;
  }
}
