.sidebar {
  width: 207px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-right: 1px solid #e5e7eb;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-header {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #f1f5f9;
}
.sidebar-logo {
  width: 120px;
  height: auto;
}

.sidebar-menu {
  flex: 1;
  overflow-y: auto;
  padding: 15px 10px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu li {
  margin-bottom: 8px;
}
.menu li a {
  text-decoration: none !important; 
  color: inherit;
}

.menu li a:hover {
  text-decoration: none !important; 
}
.dropdown-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  border: none;
  background: none;
  color: #64748B;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.dropdown-btn:hover {
  background-color: #f1f5f9;
  color: #6C63FF;
}

.dropdown-btn svg{
  font-size: 20px !important;
}

.sidebar-footer {
  padding: 15px;
  border-top: 1px solid #f1f5f9;
  background: #fff;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.user-info h4 {
  margin: 0;
  font-size: 14px;
  color: #1e293b;
}
.user-info p {
  margin: 0;
  font-size: 12px;
  color: #64748B;
}

.logout-btn {
  margin-top: 10px;
  width: 100%;
  background: #fee2e2;
  border: none;
  color: #dc2626;
  font-weight: 500;
  padding: 8px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.logout-btn:hover {
  background: #fecaca;
}