.Nutrition{
    margin-left: 250px !important;
}
.nutrition-page {
  /* background: #f8f9fa; */
  min-height: 100vh;
  padding: 20px;
}
.summary-cards {
  background: linear-gradient(135deg, #00c46a, #009b74);
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.summary-cards .card {
  background: transparent;
  border: none;
  box-shadow: none;
  color: #fff;
  text-align: center;
}

.summary-cards .card svg {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 10px;
  font-size: 26px;
  margin-bottom: 10px;
  font-size: 20px !important;
  height: 45px !important;
  width: 45px !important;
}

.summary-cards .card h5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}


.summary-cards .card p {
  font-size: 0.9rem;
  opacity: 0.9;
  margin: 0;
}

.summary-cards .progress {
  height: 6px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  margin-top: 8px;
}

.summary-cards .progress-bar {
  background-color: linear-gradient(135deg, #4F46E5 0%, #6366F1 100%) !important; 
  border-radius: 10px;
}


.meal-card {
  border-left: 5px solid #00c46a !important;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.meal-card span {
  background: #f1f3f4;
  border-radius: 10px;
  padding: 4px 10px;
  font-size: 0.85rem;
}



.nutrition-page .addmeal {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  /* gap: 8px; */
  padding: 10px 18px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  transition: width 0.3s ease-in-out;
}

.nutrition-page .addmeal .text {
  max-width: 0;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  transform: translateX(20px);
  transition: all 0.4s ease;
}

.nutrition-page .addmeal:hover .text {
  max-width: 200px;
  opacity: 1;
  transform: translateX(0);
}


.nutrition-page .addmeal .icon {
  transition: transform 0.4s ease;
}

.nutrition-page .addmeal:hover .icon {
  transform: translateX(-3px);
}
